.HeroItem {
    background: #fff;
    color: @text-color;
    font-size: 120%;
    border-radius: 5px;
    padding: 18px 17px;
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer;
    &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &__avatar {
        height:37px;
        width:37px;
        margin-right: 25px;
    }
}