.HeroModal {
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .icon {
      margin-right: 0.5rem;
    }
    cursor: pointer;
  }
  &__heroAvatar {
    display: flex;
    justify-content: center;
    margin-bottom: 1.9rem;
    img {
      height: 94px;
      width: 94px;
    }
  }
  &__heroName {
    display: flex;
    align-items: center;
    flex-direction: column;
    .name {
      margin-bottom: 0.2rem !important;
    }
    .type {
      margin-top: 0 !important;
      margin-bottom: 1rem !important;
    }
  }
  &__heroForm {
    margin-top: 1.4rem;
    .field {
      margin-bottom: 1rem;
    }
  }
}
